<section id="content">
    <div class="container-fluid">

        <%= render(partial: 'core/user_header') %>
        <%#= current_user.is_admin ? render(partial: 'dashboard/admin/layout') : render(partial: 'dashboard/user/layout') %>
        <%#= current_user.is_admin ? render(partial: 'dashboard/admin/footer') : render(partial: 'dashboard/user/footer') %>
    </div>
</section>
