<div class="row p-20">
  <div class="col-sm-7">
  * If you are participating in the iTHRIVE Plan as a Patient of a Cancer Center, you recognize and agree that all information you submit may be disclosed to the Cancer Center.
  </div>
</div>
