<div class="row">
  <div class="hidden-xs col-sm-8">
    <%#= render partial: 'dashboard/user/strengths' %>
  </div>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
    <%#= render partial: 'dashboard/user/strengths_mobile' %>
  </div>
  <
  </div>
</div>
