<style>
  .s-profile > a {
    background-image: url("<%= @current_tenant.desktop %>");
  }
</style>

<aside id="sidebar" class="sidebar c-overflow">
  <div class="s-profile toggled">
    <a href="" data-ma-action="profile-menu-toggle">
      <div class="sp-pic">
        <%#= image_tag "avatars/unknown.png" %>
      </div>
      <div class="sp-info">
        Welcome <%#= current_user.full_name %>
        <i class="zmdi zmdi-settings"></i>
      </div>
    </a>
    <ul class="main-menu toggled" style="display:block;">
      <li><%#= link_to("<i class='zmdi zmdi-assignment-account'></i> Profile".html_safe, tenant_profile_path) %></li>
      <li><%= link_to("<i class='zmdi zmdi-power'></i> Sign Out".html_safe, destroy_user_session_path, method: :delete) %></li>
    </ul>
  </div>

  <ul class="main-menu">
    <li>
      <%= link_to("<i class='zmdi zmdi-view-dashboard'></i> Dashboard".html_safe, dashboard_path) %>
    </li>
    <li>
      <%= link_to("<i class='zmdi zmdi-accounts-alt'></i> Users".html_safe, '/users') %>
    </li>
    <li>
      <%#= link_to("<i class='fa fa-bullhorn'></i> Broadcast Messages".html_safe, dashboard_path) %>
    </li>
  </ul>
</aside>
