<style>
  .s-profile > a {
    background-image: url("<%#= @current_tenant.desktop %>");
  }
</style>

<aside id="sidebar" class="sidebar c-overflow">
  <div class="s-profile toggled">
    <a href="" data-ma-action="">
      <div class="sp-pic">
        <%#= image_tag "avatars/unknown.png" %>
      </div>

      <div class="sp-info">
        Welcome <%#= current_user.full_name %>
        <i class="zmdi zmdi-settings"></i>
      </div>
    </a>

    <ul class="main-menu toggled" style="display:block;">
      <li><%#= link_to("<i class='zmdi zmdi-assignment-account'></i> Profile".html_safe, "/users/#{current_user.id}/edit") %></li>
      <li><%#= link_to("<i class='zmdi zmdi-power'></i> Sign Out".html_safe, destroy_user_session_path, method: :delete) %></li>
    </ul>
  </div>

  <ul class="main-menu">
    <li><%#= link_to("<i class='zmdi zmdi-view-dashboard'></i> My Dashboard".html_safe, dashboard_path) %></li>
    <li><%#= link_to("<i class='zmdi zmdi-format-list-bulleted'></i> My Plan".html_safe, plans_path) %></li>
    <li><%#= link_to("<i class='fa fa-bullseye'></i> Take Survey".html_safe, surveys_path) %></li>
    <li><%#= link_to "<i class='zmdi zmdi-plaster'></i> Get Help".html_safe, get_help_path, target: '_blank' %></li>
  </ul>
</aside>
