<footer id="footer">

  <ul class="f-menu">
    <div class="text-center m-t-10 m-b-5">
      Powered by <%#= image_tag 'ithrive/login.png', style: "height: 30px; margin-top: -4px;" %>
    </div>
    <div class="terms" style="color: #999; text-align: center">
      <%#= link_to 'Privacy Policy', legal_privacy_path, target: '_blank' %>
      |
      <%#= link_to 'Terms and Conditions', legal_terms_path, target: '_blank' %>
      |
      &copy; 2016 Five to Thrive, LLC
    </div>
  </ul>
</footer>
