<div class="row p-20">
  <div class="col-sm-7">
  <!-- * Anyone who participates in the iTHRIVE Plan as a Patient of a Cancer Center, must recognize and agree that all information they submit may be disclosed to the Cancer Center. -->
  </div>
</div>
