<div class="block-header">
    <h2>Administration Dashboard</h2>
    <ul class="actions">
        <li>
            <a href="">
                <i class="zmdi zmdi-refresh"></i>
            </a>
        </li>
    </ul>
</div>
