<div class="row">
  <div class="col-md-6">
    <%= render partial: 'users/send_broadcast' %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'dashboard/admin/user_stats' %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'dashboard/admin/step_usage' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  <%#= render partial: 'dashboard/admin/action_step_stats' %>
  </div>
</div>
