<!-- <div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <h2>Donut Chart</h2>

      <ul class="actions">
        <li class="dropdown action-show">
          <a href="" data-toggle="dropdown">
            <i class="zmdi zmdi-more-vert"></i>
          </a>

          <div class="dropdown-menu pull-right">
            <p class="p-20">
              You can put anything here
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="card-body card-padding">
      <div id="donut-chart" class="flot-chart-pie" style="padding: 0px; position: relative;"><canvas class="flot-base" width="992" height="375" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 794px; height: 300px;"></canvas><canvas class="flot-overlay" width="992" height="375" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 794px; height: 300px;"></canvas></div>
      <div class="flc-donut hidden-xs"><table style="font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid #F44336;overflow:hidden"></div></div></td><td class="legendLabel">Toyota</td><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid #03A9F4;overflow:hidden"></div></div></td><td class="legendLabel">Nissan</td><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid #8BC34A;overflow:hidden"></div></div></td><td class="legendLabel">Hyundai</td><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid #FFEB3B;overflow:hidden"></div></div></td><td class="legendLabel">Scion</td><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid #009688;overflow:hidden"></div></div></td><td class="legendLabel">Daihatsu</td></tr></tbody></table></div>
    </div>
  </div>
</div>
 -->
